    	<div class="wrapper" ng-controller="changepasswordController">
	    
	    <div class="member-container">
		<div class="app-logo">
		    <a>
			<img id="companylogo"  alt="Mind Valley Logo">
		    </a>
		</div><!-- app-logo -->
		    
		<div class="member-container-inside">
            <form>
                <div class="form-group">
                    <input type="text" id="oldpassword" required class="form-control" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <input type="text" id="newpassword" required class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">
                    <a id="btnReset" class="btn btn-warning btn-block">Reset Password</a>
                </div>
                
            </form>
		</div><!-- member-container-inside -->
		
		<!--<p><small><span id="footermessage2"></span></small></p>-->
	    </div><!-- member-container -->
	    
	</div><!-- wrapper -->
        <script type="text/javascript">
            "use strict";
            /*******************************
            PAGE PRELOADER
            *******************************/
            $(window).load(function () { // makes sure the whole site is loaded
                $('#status').fadeOut("slow"); // will first fade out the loading animation
                $('#preloader').fadeOut("slow"); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({ 'overflow': 'visible' });
            })

            /*******************************
            THEME COLOR COOKIE
            *******************************/
            if ($.cookie("css")) {
                $("#theme").attr("href", $.cookie("css"));
            }

            $(document).ready(function () {
               
                $('btnClear').click(function () {
                    ulEmployeess.empty();
                });

            });
        </script>