<style type="text/css">



    .app-logo img {
        width: 20%;
    }

    .member-container {
        margin-bottom: 0;
    }

    input[type="text"] {
        font-family: Arial, Helvetica, sans-serif !important;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 20px;
        margin: 10px 0;
        width: 100%;
        box-sizing: border-box;
        color: #333;
        font-size: 14px;
    }

    input[type="password"] {
        font-family: Arial, Helvetica, sans-serif !important;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 20px;
        margin: 10px 0;
        width: 100%;
        box-sizing: border-box;
        color: #333;
        font-size: 14px;
    }

    .btn {
        font-family: Arial, Helvetica, sans-serif !important;
        background: #16a085;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 15px;
        width: 200px;
        color: #ffffff !important;
        box-sizing: border-box;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        margin: 10px auto;
        display: block;
        
    }

    a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: 0 0 10px 0;
    }

        a:hover {
            color: #fff;
        }

    @media only screen and (max-width:768px) {
        .container {
            width: 100%;
            box-sizing: border-box;
        }
    }
</style>

    <div class="wrapper" ng-controller="forgotpasswordController">

        <div class="member-container">
            <div class="app-logo">
                <a href="#">
                    <img id="companylogo"  alt="Mind Valley Logo">
                </a>
            </div><!-- app-logo -->

            <div class="member-container-inside">
                <form>
                    <div class="form-group">
                        <input type="text" id="emailaddress" placeholder="Email Address">
                    </div>

                    <div class="form-group">
                        <a id="btnforget" class="btn">Reset Password</a>
                    </div>
                    <div class="form-group">
                        <a href="index.html#/login">Go Back</a>
                    </div>
                </form>
                <div style="text-align:center; color:#fff; position:relative;  width:100%; font-size:12px; margin:70px 0;">
                    The website is best experienced on the version of Chrome 31, Firefox 26, Safari 6 and Internet Explorer 10 browsers or higher
                    Mindvalley  <br /><small><span id="footermessage2" style="color:#fff;"></span></small>
                </div>
            </div><!-- member-container-inside -->

            
        </div><!-- member-container -->

    </div><!-- wrapper -->
    <!-- REQUIRED SCRIPTS -->


    <script type="text/javascript">
        "use strict";
        /*******************************
        PAGE PRELOADER
        *******************************/
        $(window).load(function () { // makes sure the whole site is loaded
            $('#status').fadeOut("slow"); // will first fade out the loading animation
            $('#preloader').fadeOut("slow"); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow': 'visible' });
        })

        /*******************************
        THEME COLOR COOKIE
        *******************************/
        if ($.cookie("css")) {
            $("#theme").attr("href", $.cookie("css"));
        }

        $(document).ready(function () {
        

            $('btnClear').click(function () {
                ulEmployeess.empty();
            });
            debugger;
            var logourls = localStorage.getItem("logourl");
            var footermessage2 = localStorage.getItem("footermessage2");
            $('#footermessage2').html(footermessage2);
            //var logourl = 'assets/img/core/' + logourls
            var logourl = logourls;
                    $("#companylogo").attr("src", logourl);

        });
    </script>

